.collection-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.material-icons {
  cursor: pointer;
  margin-left: 5px;
}

.vote-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}
